In [20]:
# create the s1 series from the list: [10,20,30,40,50]
import pandas as pd
my_list = [10, 20, 30, 40, 50]
s1 = pd.Series(my_list)
print(s1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [21]:
# create a series called s_tuple from the tuple: ("apple", "banana", "cherry")

import pandas as pd
s_tuple = ("apple", "banana", "cherry")
my_series = pd.Series(s_tuple)
print(my_series)

0     apple
1    banana
2    cherry
dtype: object

In [22]:
# create a series called s_dictionary from the dictionary: {"brand": "Ford", "model": "Mustang", "year": 1964}

import pandas as pd
car_data = {"brand": "Ford", "model": "Mustang", "year": 1964}
car_series = pd.Series(car_data, name="Car Specifications")
print(car_series)

brand       Ford
model    Mustang
year        1964
Name: Car Specifications, dtype: object

In [23]:
import pandas as pd
s1 = pd.Series([10, 20, 30, 40, 50])
s_tuple = pd.Series((15, 25, 35, 45, 55))
s_dictionary = pd.Series({'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500})
print("The s1 series values are:", s1.values)
print("The s1 index values are:", s1.index)
print("\n")
print("The s_tuple series values are:", s_tuple.values)
print("The s_tuple index values are:", s_tuple.index)
print("\n")
print("The s_dictionary series values are:", s_dictionary.values)
print("The s_dictionary index values are:", s_dictionary.index)

The s1 series values are: [10 20 30 40 50]
The s1 index values are: RangeIndex(start=0, stop=5, step=1)


The s_tuple series values are: [15 25 35 45 55]
The s_tuple index values are: RangeIndex(start=0, stop=5, step=1)


The s_dictionary series values are: [100 200 300 400 500]
The s_dictionary index values are: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [24]:
# create the s2 series from the list [80,93,78,85,97] and with labeled indexes ['English','Science','Social','Tamil','Maths']

import pandas as pd
data = [80, 93, 78, 85, 97]
labels = ['English', 'Science', 'Social', 'Tamil', 'Maths']
s2 = pd.Series(data, index=labels)

In [25]:
# print the s2 series

import pandas as pd
data = [80, 93, 78, 85, 97]
labels = ['English', 'Science', 'Social', 'Tamil', 'Maths']
s2 = pd.Series(data, index=labels)
print(s2)

English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

In [26]:
# assign the s2 series name to be "Student Marks"

# assign the s2 index name to be "Subject"

s2.name = "Student Marks"

s2.index_name = "Subject"

In [27]:
import pandas as pd
s2 = pd.Series([85, 90, 75, 88], index=['Math', 'Science', 'English', 'History'])
s2.name = "Student Marks"
s2.index.name = "Subject"

In [28]:
print(s2)

Subject
Math       85
Science    90
English    75
History    88
Name: Student Marks, dtype: int64

In [29]:
import pandas as pd
s2 = pd.Series([85, 90, 75, 88], index=['Math', 'Science', 'English', 'History'])
s2.name = "Student Marks"
s2.index.name = "Subject"

first_element = s2.iloc[0]
print(first_element)

85

In [30]:
import pandas as pd
s2 = pd.Series([85, 90, 75, 88], index=['Math', 'Science', 'English', 'History'])
s2.name = "Student Marks"
s2.index.name = "Subject"
slice_result = s2.iloc[1:3]
print(slice_result)

Subject
Science    90
English    75
Name: Student Marks, dtype: int64

In [31]:
import pandas as pd
s2 = pd.Series([85, 90, 75, 88], index=['Math', 'Science', 'English', 'History'])
s2.name = "Student Marks"
s2.index.name = "Subject"
slice_result = s2.iloc[1:4]
print(slice_result)

Subject
Science    90
English    75
History    88
Name: Student Marks, dtype: int64

In [32]:
import pandas as pd
s2 = pd.Series([85, 90, 75, 88], index=['Math', 'Science', 'English', 'History'])
s2.name = "Student Marks"
s2.index.name = "Subject"
slice_result = s2.loc['Science':'English']
print(slice_result)

Subject
Science    90
English    75
Name: Student Marks, dtype: int64

In [33]:
import pandas as pd
s2 = pd.Series([85, 90, 75, 88], index=['Math', 'Science', 'English', 'History'])
s2.name = "Student Marks"
s2.index.name = "Subject"
try:
    tamil_mark = s2['Tamil']
    print(tamil_mark)
except KeyError:
    print("Error: 'Tamil' is not found in the index.")

Error: 'Tamil' is not found in the index.

In [34]:
fruit_prices = {
    "apple": 1.99,
    "banana": 0.59,
    "orange": 2.49,
    "grapes": 3.99
}
print("Fruit prices dictionary:")
print(fruit_prices)

Fruit prices dictionary:
{'apple': 1.99, 'banana': 0.59, 'orange': 2.49, 'grapes': 3.99}

In [35]:
import pandas as pd
fruit_series = pd.Series(fruit_prices)
print("Pandas Series of fruit prices:")
print(fruit_series)

Pandas Series of fruit prices:
apple     1.99
banana    0.59
orange    2.49
grapes    3.99
dtype: float64

In [36]:
print(fruit_series)

apple     1.99
banana    0.59
orange    2.49
grapes    3.99
dtype: float64

In [37]:
import pandas as pd
fruit_series = pd.Series(fruit_prices)
grapes_price = fruit_series["grapes"]
print(f"\nPrice of grapes (direct indexing): ${grapes_price}")

Price of grapes (direct indexing): $3.99

In [38]:
df = pd.DataFrame(s2, columns=['Score'])
print("\nDataFrame created from Series:")
print(df)

DataFrame created from Series:
Empty DataFrame
Columns: [Score]
Index: []

In [39]:
import pandas as pd
height_values = [5.3, 6.2, 5.8, 5.0, 5.5]
weight_values = [65, 89, 75, 60, 59]
indexes = ['Person 1', 'Person 2', 'Person 3', 'Person 4', 'Person 5']
height = pd.Series(data=height_values, index=indexes)
weight = pd.Series(data=weight_values, index=indexes)
person_data = pd.DataFrame({
    'Height (feet)': height,
    'Weight (kg)': weight
})
print("Person Data DataFrame:")
print(person_data)

Person Data DataFrame:
          Height (feet)  Weight (kg)
Person 1            5.3           65
Person 2            6.2           89
Person 3            5.8           75
Person 4            5.0           60
Person 5            5.5           59

In [40]:
import pandas as pd
height_values = [5.3, 6.2, 5.8, 5.0, 5.5]
weight_values = [65, 89, 75, 60, 59]
indexes = ['Person 1', 'Person 2', 'Person 3', 'Person 4', 'Person 5']
height = pd.Series(data=height_values, index=indexes)
weight = pd.Series(data=weight_values, index=indexes)
data_dict = {
    "height": height,
    "weight": weight
}
df = pd.DataFrame(data_dict)
print("DataFrame from height and weight series:")
print(df)

DataFrame from height and weight series:
          height  weight
Person 1     5.3      65
Person 2     6.2      89
Person 3     5.8      75
Person 4     5.0      60
Person 5     5.5      59